<%- include('includes/head.ejs') %>

    </head>

    <body>
        <%- include('includes/header.ejs') %>
            <main>

                <div>
                    <h3 class="titre">Informations sur le compte </h3>

                    <div class="info">

                        <div>
                            <h3>Nom de l'utilisateur: </h3>
                            <p>
                                <%= locals.user.username %>
                            </p>
                        </div>

                        <button onclick="location.href = `/auth/login/disconnect/<%= locals.user._id.toString() %>`;"
                            class="float-end mt-5 btn-outline-success btn">Déconnexion</button>
                    </div>
                </div>
            </main>

            <%- include('includes/end.ejs') %>
    </body>


    <style>
        .info{
            width: 50vw;
            margin: 0 auto;
        }

        .info div{
            display: flex;
            justify-content: space-evenly;
        }
    </style>