<%- include ('includes/head.ejs') %>
<link rel="stylesheet" type="text/css" href="/public/css/form.css">

</head>

<body>

    <%- include('includes/header.ejs')  %> 
    <main>
        <h2 class="titre">Connexion au compte</h2>
    
        <form class="col-8" method="POST" action="/auth/login">
            
            <div class="valider">
                <p> <%= locals.msg %> </p>
            </div>

            <div class="error">
                <p><%= locals.error %> </p>
            </div>
            
            <a class=" d-block float-end" href="/auth/signup">Créer un compte ?</a>

            <div>
                <label class="form-label" for="utilisateur">Courriel ou nom d'utilisateur</label>
                <input class="form-control" type="text" name="utilisateur" required  value=<%= locals.user %> >
            </div>

            <div>
                <label class="form-label" for="pass">Mot de passe</label>
                <input class="form-control" type="password" name="pass" required>
            </div>
            
            
            <input class="mt-5 btn-outline-success btn" type="submit" value="Se connecter">
            <a class="mt-3 d-block float-end" href="/auth/login/sendrecover">Mot de passe oublié ?</a>

        </form>
    </main>

    <%- include('includes/end.ejs')  %>

</body>