<%- include ('includes/head.ejs') %>

<link rel="stylesheet" type="text/css" href="/public/css/registerForm.css">

</head>

<body>
    <main>
        <h2 class="titre">Création de compte</h2>

        <% if (typeof locals.error != 'object') { %>
            <div class="error">
                <p><%= locals.error %> </p>
            </div>
        <% } %>


    
        <form method="POST" action="/admin/create">

            <div>
                <label for="u-email">Votre Courriel</label>
                <input type="email" name="u_email" value=<%=locals.email %>>
            </div>

            <% if (locals.error.email != null) { %>
                <div class="error">
                    <p><%= locals.error.email.message %> </p>
                </div>
            <% } %>

            <div>
                <label for="u-username">Nom utilisateur</label>
                <input type="text" name="u_username" value=<%=locals.username %>>
            </div>
            
            <% if (locals.error.username != null) { %>
                <div class="error">
                    <p><%= locals.error.username.message %> </p>
                </div>
            <% } %>


            <div>
                <label for="u-pwd">Mot de passe</label>
                <input type="password" name="u_pwd" value=<%=locals.pwd %>>
            </div>

            <% if (locals.error.password != null) { %>
                <div class="error">
                    <p><%= locals.error.password.message %> </p>
                </div>
            <% } %>

            <div>
                <label for="u-pwdConfirm">Confirmer le mot de passe</label>
                <input type="password" name="u_pwdConfirm">
            </div>
            <input class="btnSubmit" type="submit" value="Soumettre">

        </form>

    </main>


    <%- include('includes/end.ejs')  %>
</body>

