<%- include ('includes/head.ejs') %>

<link rel="stylesheet" type="text/css" href="/public/css/signupForm.css">

</head>

<body>
    <main>
        <h2 class="titre">Création de compte</h2>
    
        <form class="col-6" method="POST" action="/auth/signup">

            <% if (typeof locals.error != 'object') { %>
                <div class="error">
                    <p><%= locals.error %> </p>
                </div>
            <% } %>
    
            <div>
                <label class="form-label" for="u-email">Votre Courriel</label>
                <input class="form-control" type="email" name="u_email" required value=<%=locals.email %>>
            </div>

            <% if (locals.error != null) { %>
                <div class="error">
                    <p><%= locals.error.email %> </p>
                </div>
            <% } %>

            <div>
                <label class="form-label" for="u-username">Nom utilisateur</label>
                <input class="form-control" type="text" name="u_username" required value=<%=locals.username %> >
            </div>
            
            <% if (locals.error != null) { %>
                <div class="error">
                    <p><%= locals.error.username %> </p>
                </div>
            <% } %>


            <div>
                <label class="form-label" for="u-pwd">Mot de passe</label>
                <input class="form-control" type="password" name="u_pwd" required value=<%=locals.pwd %> >
            </div>

            <% if (locals.error != null) { %>
                <div class="error">
                    <p><%= locals.error.password %> </p>
                </div>
            <% } %>

            <div>
                <label class="form-label" for="u-pwdConfirm">Confirmer le mot de passe</label>
                <input class="form-control" type="password" name="u_pwdConfirm" required>
            </div>
            <input class="mt-2 btn-outline-success btn" type="submit" value="Soumettre">

        </form>

    </main>


    <%- include('includes/end.ejs')  %>
</body>

